<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/><!-- 全局映射器启用缓存 -->
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.sys.entity.Menu" alias="Menu"/>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.sys.entity.Button" alias="Button"/>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.sys.entity.User" alias="User"/>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.entity.QuotationApplication"
                   alias="QuotationApplication"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.PurchaseQuotation"
                   alias="PurchaseQuotation"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.ShipDetail"
                   alias="ShipDetail"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.Surveyor"
                   alias="Surveyor"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.InspectionReport"
                   alias="InspectionReport"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.Defect"
                   alias="Defect"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.Galleries"
                   alias="Galleries"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.Media"
                   alias="Media"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.PurchaseInspection"
                   alias="PurchaseInspection"></typeAlias>
        <typeAlias type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.Comment"
                   alias="Comment"></typeAlias>
    </typeAliases>
    <!-- 映射map -->
    <mappers>
        <package name="com.ctoangels.goshipsurvey.common.**.mapper"/>
    </mappers>

</configuration>