<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.mapper.InspectionTypePriceMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, types, price, unit, create_date AS createDate, update_date AS updateDate, del_flag AS delFlag
	</sql>
    <select id="selectByTypes"
            resultType="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.entity.InspectionTypePrice">
		select i.* from t_inspection_type_price i where i.types=#{inspectionType}
	</select>

</mapper>