<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.mapper.QuotationMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, op_u_id AS opUId, op_user_name AS opUserName, ship_id AS shipId, ship_name AS shipName, imo, ship_type AS shipType, inspection_type AS inspectionType,
		port_id AS portId, port_name AS portName, start_date AS startDate, end_date AS endDate, current_quantity AS currentQuantity, current_quantity_url AS currentQuantityUrl,
		bonus_plan AS bonusPlan, total_price AS totalPrice, quotation_status AS quotationStatus, delivery_by AS deliveryBy,
		accepted_by AS acceptedBy , re_delivery_by AS reDeliveryBy, re_accepted_by AS reAcceptedBy, charter, owner,
		ship_particulars AS shipParticulars,ship_particulars_url AS shipParticularsUrl, port_agency AS portAgency,
		blank_loi_url AS blankLoiUrl, surveyor_u_id AS surveyorUId, create_date AS createDate, create_by AS createBy,
		update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag, surveyorUId AS surveyor_u_id, estimateDate AS estimate_date
	</sql>

    <select id="getById" resultType="Quotation">
        SELECT q.* FROM t_quotation q WHERE q.id=#{id} AND q.del_flag=0
    </select>

    <select id="getOPList" resultMap="OPQuotationMap">
        SELECT quo.*,1 AS proType
        FROM t_quotation quo
        <where>
            AND quo.del_flag=0
            AND quo.op_u_id=#{opUId}
        </where>
        order by quo.update_date desc
        limit #{start},#{length}
    </select>

    <resultMap id="OPQuotationMap" type="Quotation">
        <result property="id" column="id"/>
        <collection property="applicationList" column="{quotationId=id,proType=proType}"
                    select="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.mapper.QuotationApplicationMapper.getApplications"/>
    </resultMap>


    <select id="getSurveyorList" resultMap="surveyorQuotationMap">
        SELECT quo.*,#{surveyorUId} AS u_id,1 AS `type`  FROM t_quotation quo
        WHERE /*quo.end_date &gt;=(select date_format(now(),'%Y-%m-%d')) and*/ quo.quotation_status !=0 and quo.del_flag=0 and (quo.surveyor_u_id is null or quo.surveyor_u_id =#{surveyorUId})
        and find_in_set(#{surveyorUId},quo.surveyor_u_ids)
        ORDER BY quo.update_date desc
        limit #{start},#{length}
    </select>

    <resultMap id="surveyorQuotationMap" type="Quotation">
        <result property="id" column="id"/>
        <association property="application" column="{u_id=u_id,quotation_id=id,type=type}"
                     javaType="QuotationApplication"
                     select="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.mapper.QuotationApplicationMapper.getBySurveyorUId"/>
    </resultMap>

    <select id="getQuotationList"
            resultType="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.entity.Quotation">
        select * from t_quotation q where q.id not in (select qa.quotation_id from t_quotation_application qa where qa.user_id=#{surveyorUId} and qa.quotation_id is not null) and q.quotation_status
        =1 and (q.surveyor_u_id is null or q.surveyor_u_id=#{surveyorUId} ) /*and q.end_date>=(select DATE_FORMAT(now(),'%Y-%m-%d'))*/ and find_in_set(#{surveyorUId},q.surveyor_u_ids)
        ORDER BY q.update_date desc
                limit #{start},#{length};
    </select>


</mapper>