<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.mapper.QuotationApplicationMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, quotation_id AS quotationId, user_id AS userId, application_status AS applicationStatus, total_price AS totalPrice, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag, company_id AS companyId, survey_id AS surveyId, `type`
	</sql>

    <select id="getBySurveyorId" resultMap="QuotationApplicationMap" parameterType="java.util.Map">
        SELECT qa.* FROM t_quotation_application qa WHERE qa.user_id =#{surveyor_id} and qa.quotation_id=#{quotation_id} and qa.type=#{type} and del_flag=0
    </select>

    <resultMap id="QuotationApplicationMap" type="QuotationApplication">
        <result property="id" column="id"></result>
        <association property="surveyor" column="survey_id"
                     select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.SurveyorMapper.getById"/>
        <association property="user" column="user_id"
                     select="com.ctoangels.goshipsurvey.common.modules.sys.mapper.UserMapper.getById"/>
    </resultMap>


    <select id="getApplications" resultMap="QuotationApplicationMap">
        SELECT qa.* FROM t_quotation_application qa WHERE qa.type=#{proType} and qa.quotation_id=#{quotationId} and qa.del_flag=0
    </select>

    <select id="getSuccessApplication" resultMap="QuotationApplicationMap">
        SELECT qa.* FROM t_quotation_application qa WHERE qa.quotation_id=#{quotationId} and  qa.type=#{proType} and qa.application_status=1
    </select>
</mapper>