<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="spring-mybatis.xml"/>

    <!--异步配置-->
    <task:executor id="asyncExecutor" pool-size="50-100" queue-capacity="20"/>
    <task:scheduler id="scheduler" pool-size="5"/>
    <task:annotation-driven executor="asyncExecutor" scheduler="scheduler"/>
    <!--定时任务-->
    <!--<bean id="autoSelectSurveyorScheduler"
          class="com.ctoangels.goshipsurvey.admin.base.scheduler.AutoSelectSurveyorScheduler"/>-->

    <!--注入微信服务-->
    <!--<bean class="me.chanjar.weixin.mp.api.impl.WxMpServiceImpl"></bean>-->
    <context:component-scan base-package="com.ctoangels.goshipsurvey.common">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="cacheSeconds" value="5"/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="basenames">
            <list>
                <value>classpath:messages/message</value>
            </list>
        </property>
    </bean>

    <!-- ================ Shiro start ================ -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroRealm"/>
    </bean>

    <!--Realm -->
    <bean id="shiroRealm" class="com.ctoangels.goshipsurvey.admin.base.interceptor.shiro.ShiroRealm"/>

    <!-- rights -->
    <bean id="gvrts" class="com.ctoangels.goshipsurvey.admin.base.filter.shiro.RightsFilter"/>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/"/>
        <property name="successUrl" value="/main"/>
        <property name="unauthorizedUrl" value="/login_toLogin"/>
        <property name="filters">
            <map>
                <entry key="gvrts" value-ref="gvrts"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /static/** = anon
                /MP_verify_IeV2Gc6aFk0EcMwz.txt=anon
                /assets/** = anon
                /emailQuotation/** = anon
                /publicShip/** = anon
                /port/** = anon
                /welcome = anon
                /public/** = anon
                /onoff = anon
                /prepurchase =anon
                /onoffindex = user
                /prepurchaseindex = user
                /home=anon
                /code = anon
                /login_login = anon
                /logout = anon
                /account/** = user
                /company/**=user
                /oss/**=user
                /register_register = anon
                /register/activateConfirm = anon
                /index = anon
                /message/** = user
                /user/unauthorized = anon
                /user/editPwd = anon
                /comment/editComment =user
                /test=anon
                /test/** = user
                /surveyor/account/personalInfo=user
                /surveyor/account/companyInfo=user
                /** = gvrts
                /spec/**=user
            </value>
        </property>
    </bean>
    <!-- ================ Shiro end ================ -->

    <!--aop-->
    <aop:aspectj-autoproxy expose-proxy="true"/>
    <bean id="dataSourceInterceptor"
          class="com.ctoangels.goshipsurvey.admin.base.interceptor.dataSourceSelect.DataSourceInterceptor"/>
    <aop:config>
        <aop:aspect ref="dataSourceInterceptor">
            <aop:pointcut id="changeDataSource"
                          expression="execution(* com.ctoangels.goshipsurvey.common.modules.go.service.*.*(..))"/>
            <aop:before pointcut-ref="changeDataSource" method="doBefore"/>
            <aop:after pointcut-ref="changeDataSource" method="doAfter"/>
        </aop:aspect>
    </aop:config>

</beans>
