<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.DefectMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, inspection_report_id AS inspectionReportId, description, estimat_cost AS estimatCost, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy
	</sql>

</mapper>