<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.EmailQuotationMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, ship_name AS shipName, imo, inspection_type AS inspectionType, port, start_date AS startDate, end_date AS endDate, email, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag
	</sql>

</mapper>