<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.GalleriesMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, `name`, `number`, inspection_report_id AS inspectionReportId, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag
	</sql>

	<select id="selectGalleriesById" resultMap="GalleriesMedia">
		select * from t_galleries g  where g.inspection_report_id=#{id} and del_flag=0
	</select>

	<resultMap id="GalleriesMedia" type="Galleries">
		<result property="id" column="id"/>
		<result property="inspectionReportId" column="inspection_report_id"/>
		<collection property="medias" column="{id=id}" ofType="Media"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.MediaMapper.selectMediaById"/>
	</resultMap>

</mapper>