<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.InspectionReportMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, ship_id AS shipId, condition_inspection_id AS conditionInspectionId, purchase_inspection_id AS purchaseInspectionId, t_inspection_reportcol AS tInspectionReportcol, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag
	</sql>

</mapper>