<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.InspectionReportMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, ship_id AS shipId, condition_inspection_id AS conditionInspectionId, purchase_inspection_id AS purchaseInspectionId, t_inspection_reportcol AS tInspectionReportcol, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag,
		submit_status1 AS submitStatus1, submit_status2 AS submitStatus2, submit_status3 AS submitStatus3, submit_status4 AS submitStatus4, submit_status5 AS submitStatus5, submit_status6 AS submitStatus6, submit_status7 AS submitStatus7

	</sql>
	<select id="selectByPurchaseInspectionId" resultMap="InspectionReport">
		select * from t_inspection_report i where i.id=#{0}
	</select>

	<resultMap id="InspectionReport" type="InspectionReport">
		<result property="id" column="id"></result>
		<result property="shipId" column="ship_id"></result>
		<collection property="shipDetail" column="{ship_id=ship_id}" ofType="ShipDetail"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.ShipDetailMapper.selectByShipId"/>
		<collection property="defects" column="{id=id}" ofType="ShipDetail"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.DefectMapper.selectDefectById"/>
		<collection property="galleries" column="{id=id}" ofType="Galleries"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.GalleriesMapper.selectGalleriesById"/>
		<collection property="conditionInspection" column="{id=condition_inspection_id}" ofType="ConditionInspection"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.ConditionInspectionMapper.selectConditionInspectionById"/>
		<collection property="technicalAppendices" column="{id=id}" ofType="TechnicalAppendices"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.TechnicalAppendixMapper.selectTechnicalAppendixByid"/>
		<collection property="documents" column="{id=id}" ofType="Document"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.DocumentMapper.selectDocumentByid"/>
        <collection property="grades" column="{id=id}" ofType="Grade"
                    select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.GradeMapper.selectGradesByReportId"/>
	</resultMap>

</mapper>