<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.PurchaseQuotationMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, ship_id AS shipId, start_date AS startDate, end_date AS endDate, `location`, agency_detail AS agencyDetail, agency_url AS agencyUrl, loi_url AS loiUrl, select_status AS selectStatus, op_id AS opId, public_status AS publicStatus, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag, quotation_application_id AS quotationApplicationId
		,total_price AS totalPrice
	</sql>


    <select id="selectByPurchaseQuotationId"
            resultType="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.PurchaseQuotation">
		select * from t_purchase_quotation where id=#{purchase_quotation_id}
	</select>

    <select id="getOPList" resultMap="shipDetailMap">
        SELECT pq.*,
        (SELECT count(qa.id) FROM t_quotation_application qa WHERE qa.quotation_id=pq.id and qa.type=2) AS
        applicationCount
        FROM t_purchase_quotation pq
        <where>
            AND pq.end_date &gt;= (select date_format(now(),'%Y-%m-%d'))
            AND pq.op_id=#{opId}
            AND pq.del_flag=0
        </where>
        order by pq.update_date desc,pq.id desc
        limit #{start},#{length}
    </select>

    <resultMap id="shipDetailMap" type="PurchaseQuotation">
        <result property="id" column="id"></result>
        <collection property="shipDetail" column="ship_id" ofType="ShipDetail"
                    select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.ShipDetailMapper.getById"></collection>
    </resultMap>


    <select id="getSurveyorList" resultMap="surveyorQuotationMap">
        SELECT pq.*,#{surveyorId} AS surveyor_id,2 AS `type`  FROM t_purchase_quotation pq
        WHERE pq.end_date &gt;=(select date_format(now(),'%Y-%m-%d')) AND pq.del_flag=0
        ORDER BY pq.update_date desc,pq.id desc
        limit #{start},#{length}
    </select>

    <resultMap id="surveyorQuotationMap" type="PurchaseQuotation">
        <result property="id" column="id"/>
        <association property="application" column="{surveyor_id=surveyor_id,quotation_id=id,type=type}"
                     javaType="QuotationApplication"
                     select="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.mapper.QuotationApplicationMapper.getBySurveyorId"/>
        <collection property="shipDetail" column="ship_id" ofType="ShipDetail"
                    select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.ShipDetailMapper.getById"/>
    </resultMap>


    <select id="getOPRecordList" resultMap="recordMap">
        SELECT pq.*,2 AS proType
        FROM t_purchase_quotation pq
        <where>
            AND pq.public_status > 1
            AND pq.op_id=#{opId}
        </where>
        order by pq.update_date desc,pq.id desc
        limit #{start},#{length}
    </select>


    <select id="getAutoSelectQuotation" resultMap="getAutoSelectQuotationApplications">
         SELECT pq.*,2 AS proType  FROM t_purchase_quotation pq
         WHERE pq.public_status=1
         and  TIMESTAMPDIFF(DAY,now(),pq.start_date) &lt;=7
         and TIMESTAMPDIFF(DAY,now(),pq.start_date) &gt;=0
         and pq.select_status is not null
         and del_flag=0;
    </select>

    <resultMap id="getAutoSelectQuotationApplications" type="PurchaseQuotation">
        <result property="id" column="id"/>
        <collection property="applications" column="{quotationId=id,proType=proType}"
                    select="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.mapper.QuotationApplicationMapper.getApplications"/>
    </resultMap>

    <resultMap id="recordMap" type="PurchaseQuotation">
        <result property="id" column="id"/>
        <association property="shipDetail" column="ship_id" javaType="ShipDetail"
                     select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.ShipDetailMapper.getById"/>
        <association property="application" column="{quotationId=id,proType=proType}" javaType="QuotationApplication"
                     select="com.ctoangels.goshipsurvey.common.modules.goshipsurvey.mapper.QuotationApplicationMapper.getSuccessApplication"/>
    </resultMap>

</mapper>