<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.PurchaseInspectionMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, purchase_quo_id AS purchaseQuoId, ship_id AS shipId, company_id AS companyId, survey_id AS surveyId, op_id AS opId, loi, passport, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag, company_grade AS companyGrade, remark, inspection_report_id AS inspectionReportId, op_grade AS opGrade, user_id AS userId
	</sql>
	<select id="selectByInspection" resultMap="shipDetal">
			select * from t_purchase_inspection p join t_ship_detail s on p.ship_id=s.id where p.user_id=#{0}

	</select>


	<resultMap id="shipDetal" type="com.ctoangels.goshipsurvey.common.modules.prepurchase.entity.PurchaseInspection">
		<result property="id" column="id"></result>
		<result property="shipId" column="ship_id"></result>
		<result property="companyId" column="company_id"></result>
		<result property="surveyId" column="survey_id"></result>
		<result property="opId" column="op_id"></result>
		<result property="purchaseQuoId" column="purchase_quo_id"></result>
		<collection property="shipDetail" column="{ship_id=ship_id}" ofType="Param"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.ShipDetailMapper.selectByShipId"/>
		<collection property="purchaseQuotation" column="{purchase_quotation_id=purchase_quo_id}" ofType="Param"
					select="com.ctoangels.goshipsurvey.common.modules.prepurchase.mapper.PurchaseQuotationMapper.selectByPurchaseQuotationId"/>
	</resultMap>
</mapper>