<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.goshipsurvey.common.modules.sys.mapper.UserMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, `name`, login_name AS loginName, `password`, `type`, style_id AS styleId, office_id AS officeId, company_id AS companyId, ip, email, phone, address, identification, head_img_url AS headImgUrl, last_login AS lastLogin, description, achievement, ship_type AS shipType, inspection_date_from AS inspectionDateFrom, inspection_date_to AS inspectionDateTo, point, email_status AS emailStatus, email_code AS emailCode, email_time AS emailTime, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag
	</sql>

</mapper>