<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>Surveyors</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico.png">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css'
          href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet"
          href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet"
          href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/animate.css">
    <link rel="stylesheet"
          href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet"
          href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet"
          href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet"
          href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/revolution-slider/rs-plugin/css/settings.css"
          type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link rel="stylesheet"
          href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css"
          type="text/css" media="screen"><![endif]-->

    <!-- CSS Theme -->
    <link rel="stylesheet" href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/css/theme-colors/default.css"
          id="style_color">
    <link rel="stylesheet" href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/css/custom.css">

    <link href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/datatables/datatables.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css"
          rel="stylesheet" type="text/css"/>
    <style>
        .header {
            background-color: #f3f2f1;
        }

        .header .topbar ul.loginbar > li > a {
            color: #eee;
        }

        .header .topbar ul.loginbar > li > a:hover {
            color: black;
        }

        .header .navbar-nav > li > a {
            color: #eee;
        }

        .header .logo {
            height: auto;
        }

        .header .logo img {
            margin: 0;
        }

        ul.nav li a {
            color: white;
            text-decoration: underline;
        }

        ul.navbar-nav > li > a:hover,
        ul.navbar-nav > .active > a {
            color: #264071;
            background-color: white;
        }

        body {
            color: black
        }

        #l-map {
            width: 100%;
            height: 600px;
        }

        #r-result {
            width: 100%;
        }

        p {
            margin: 0 0 10px;
        }

        #tip input[type="button"] {
            background-color: #0D9BF2;
            height: 40%;
            text-align: center;
            line-height: 25px;
            font-family: "Tahoma";
            font-size: 12px;
            border-radius: 3px;
            outline: none;
            border: 0;
            cursor: pointer;
        }

        #tip input[type="text"] {
            height: 35px;
            border: 1px solid #ccc;
            padding-left: 5px;
            border-radius: 3px;
            outline: none;
            color: #333;

        }

        #place li {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-right: 10px;
        }

        #place li:hover {
            border-bottom: 1px solid #333;
        }

        #outer-ul li {
            padding-left: 10px;
        }

        #outer-ul li:hover {
            background-color: #0D9BF2;
        }

        #menuOne {
            background-color: #fff;
            border: 1px solid #ccc;
            margin-left: 20px;
            position: absolute;
            min-height: 65px;
            top: 230px;
            font-size: 12px;
            right: 30px;
            border-radius: 3px;
            overflow: hidden;
            line-height: 20px;
            height: 400px;
            width: 200px;
        }


    </style>
</head>

<body>

<div class="wrapper page-option-v1">
    <!--=== Header ===-->
    <div class="header">
        <div class="container" style="margin-bottom: 0;">
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/icon/banner.png" style="height: 70px;"
                     alt="Logo">
            </a>
            <!-- End Logo -->

            <h1 style="color:#0004fd;margin:0;font-size:60px;line-height: 1;">GOSHIPSURVEY</h1>

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div>
        <!--/end container-->
    </div>
    <!--=== End Header ===-->

    <div class="container-fluid content-sm box-shadow" style="background-color: #264071;">
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav" style="margin-top: -60px;float: right;color: white;">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="javascript:void(0)">-->
                            <!--Quotation-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="/static/html/reports.html">
                            Our reports
                        </a>
                    </li>
                    <li>
                        <a href="/static/html/surveyors.html">
                            Our surveyors
                        </a>
                    </li>
                    <li>
                        <a href="/static/html/about_us.html">
                            About us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <h1 style="margin-left: 10%;margin-top: -30px;color: white;">Our surveyors</h1>

        <!--=== container ===-->
        <div class="container content" style="width: 100%;padding: 0">
            <div id="l-map">
            </div>
            <div id="menuOne">
                <!--<div class="form-group">-->
                <!--<div class=" col-lg-12 col-sm-12 col-xs-12 pull-right" id="search_ship">-->
                <!--<div id="tip">-->
                <!--<div class="row">-->
                <!--<div class="col-lg-10 col-xs-10">-->
                <!--<input type="text" ng-model="findShipName" id="inputEmail" class="form-control"-->
                <!--placeholder="Enter a keyword to search:">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-xs-2" style="padding-left:0px;">-->
                <!--<img style="width:40px; height:40px;"-->
                <!--src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/system/find_one.png"-->
                <!--ng-click="listRefreshByName(findShipName)"/>-->
                <!--<div id="result1" name="result1"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <div class="col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px">
                        <div id="wrapper">
                            <ul style="padding:0;height:400px;overflow:auto;overflow-x:hidden;margin-right: 0px"
                                id="outer-ul">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!--===end container ===-->
    </div>


    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline">
                        <h2>Quickly Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li>
                            <a href="http://a.goshipyard.com">goshipyard</a><i class="fa fa-angle-right"></i></li>
                        <li>
                            <a href="http://a.goshipyard.com:8899/admin">goshiprepair</a><i
                                class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline">
                        <h2>Quickly Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li>
                            <a href="/static/html/download_center.html">Download Center</a><i
                                class="fa fa-angle-right"></i></li>
                        <li>
                            <a href="/static/html/about_us.html">About Us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline">
                        <h2>Login or Register</h2></div>
                    <ul class="list-unstyled">
                        <li style="float: left;margin-right: 10px;">
                            <a class="btn-u btn-lg" href="/login_toLogin">Login</a>
                        </li>
                        <li style="float: left;margin-right: 10px;">
                            <a class="btn-u btn-u-blue btn-lg" href="javascript:void(0)">Register</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <p>Aoyang TC Email:
                            <a href="mailto:service@goshipyard.com" style="color:#3598DC;" class="">service@goshipgroup.com</a>
                        <p>
                        <p>Copyright &copy; 2016 - 2017 goshipyard.All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div>
<!--/wrapper-->


<ul id="ul-tmp" style="display: none">
    <li style="list-style:none; margin:0; padding:0;" ng-repeat="e in shipList">
        <ul class="infodetails" ng-click="clickMapItem(e)" data-ship="" style="padding: 0"
            onmousemove="mouseOverItem(this)">
            <div class="row" style="padding-left:0px;margin-left: 0px;">
                <div class="col-lg-9 col-xs-9"
                     style="overflow:hidden;margin-top:10px;margin-left: 0px;padding-left: 0px">
                    <li style="display:inline-block; position:absolute; top:-10px; width:30px; margin-top:10px;background:url(http://shipinfo.oss-cn-shanghai.aliyuncs.com/system/dibiao1.png) no-repeat 10px 0 ">
                        <p style="color:#fff; text-align:center" class="index-p">{{$index+1}}</p>
                    </li>
                    <li style="display:inline-block; margin-left:26px;"><span
                            ng-click="clickMapItem(e)" ng-mousemove="mouseOverItem(e)"
                            style="color: blue;" class="short-name-span">{{e.shortName}}</span></li>
                    <li style="display:block; margin-left:26px;white-space:nowrap;"
                        ng-click="clickMapItem(e)" ng-mousemove="mouseOverItem(e)" class="address-li">{{e.address}}
                    </li>
                </div>
                <div class="col-lg-3 col-xs-3" style="text-align:center" style="height:100%;">
                    <!--<img ng-click="clickMapItem(e)" ng-mousemove="mouseOverItem(e)" src='img/88.jpg'-->
                    <!--style=" height:50px; width:50px; text-align:center; margin-top:10px;"/>-->
                </div>
            </div>
        </ul>
    </li>
</ul>

<!-- JS Global Compulsory -->
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/jquery/jquery.min.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/jquery/jquery-migrate.min.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/bootstrap/js/bootstrap.min.js "></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/back-to-top.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/smoothScroll.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/jquery.parallax.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/fancybox/source/jquery.fancybox.pack.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js "></script>
<!-- JS Customization -->
<script type="text/javascript " src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/js/custom.js "></script>
<!-- JS Page Level -->
<script type="text/javascript " src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/js/app.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/js/plugins/fancy-box.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/js/plugins/owl-carousel.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/js/plugins/revolution-slider.js "></script>
<script type="text/javascript "
        src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/js/plugins/style-switcher.js "></script>
<script src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/js/datatable.min.js "
        type="text/javascript "></script>
<script src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/datatables/datatables.min.js "
        type="text/javascript "></script>
<script src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js "
        type="text/javascript "></script>

<script type="text/javascript ">
    jQuery(document).ready(function () {
        App.init();
        App.initParallaxBg();
        FancyBox.initFancybox();
        OwlCarousel.initOwlCarousel();
        RevolutionSlider.initRSfullWidth();

    });

</script>
<!--[if lt IE 9]>
<script src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/respond.js "></script>
<script src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/html5shiv.js "></script>
<script src="http://shipinfo.oss-cn-shanghai.aliyuncs.com/unify/assets/plugins/placeholder-IE-fixes.js "></script>
<![endif]-->


<script type="text/javascript"
        src="http://api.map.baidu.com/api?v=2.0&ak=sH45FS0Pd1v58SSDcltpILGWyLkSn959"></script>
<script type="text/javascript">
    var map = new BMap.Map("l-map", {minZoom: 1, maxZoom: 5});
    map.centerAndZoom(new BMap.Point(116.4035, 39.915), 3);
    map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放

    var cityList = [
        {
            "id": "1",
            "nameCN": "曹妃甸",
            "nameEN": "Caofeidian",
            "longitude": "118.466697",
            "latitude": "39.279259",
            "count": 8
        },
        {
            "id": "2",
            "nameCN": "天津",
            "nameEN": "Tianjin",
            "longitude": "117.209764",
            "latitude": "39.093709",
            "count": 13
        },
        {
            "id": "3",
            "nameCN": "黄骅",
            "nameEN": "Huanghua",
            "longitude": "117.33653",
            "latitude": "38.377504",
            "count": 7
        },
        {
            "id": "4",
            "nameCN": "石岛",
            "nameEN": "Shidao",
            "longitude": "122.435272",
            "latitude": "36.895455",
            "count": 6
        },
        {
            "id": "5",
            "nameCN": "威海",
            "nameEN": "Weihai",
            "longitude": "122.127197",
            "latitude": "37.516403",
            "count": 8
        },
        {
            "id": "6",
            "nameCN": "烟台",
            "nameEN": "Yantai",
            "longitude": "121.454239",
            "latitude": "37.470045",
            "count": 12
        },
        {
            "id": "7",
            "nameCN": "龙口",
            "nameEN": "Longkou",
            "longitude": "120.485142",
            "latitude": "37.652548",
            "count": 6
        },
        {
            "id": "8",
            "nameCN": "青岛",
            "nameEN": "Qingdao",
            "longitude": "120.389622",
            "latitude": "36.072259",
            "count": 16
        },
        {
            "id": "9",
            "nameCN": "董家口",
            "nameEN": "Dongjiakou",
            "longitude": "119.768237",
            "latitude": "35.594775",
            "count": 9
        },
        {
            "id": "10",
            "nameCN": "日照",
            "nameEN": "Rizhao",
            "longitude": "119.323435",
            "latitude": "35.235464",
            "count": 4
        },
        {
            "id": "11",
            "nameCN": "岚山",
            "nameEN": "Lanshan",
            "longitude": "119.3399560204",
            "latitude": "35.1192223215",
            "count": 4
        },
        {
            "id": "12",
            "nameCN": "连云港",
            "nameEN": "Lianyungang",
            "longitude": "120.386839",
            "latitude": "36.097453",
            "count": 16
        },
        {
            "id": "13",
            "nameCN": "靖江",
            "nameEN": "Jingjiang",
            "longitude": "120.173434",
            "latitude": "32.023434 ",
            "count": 7
        },
        {
            "id": "14",
            "nameCN": "江阴",
            "nameEN": "Jiangyin",
            "longitude": "120.173434",
            "latitude": "31.543434",
            "count": 12
        },
        {
            "id": "15",
            "nameCN": "张家港",
            "nameEN": "Zhangjiagang",
            "longitude": "120.323434",
            "latitude": "31.523434",
            "count": 10
        },
        {
            "id": "16",
            "nameCN": "亚洲",
            "nameEN": "Europe",
            "longitude": "101.666666",
            "latitude": "53.222222",
            "count": 23
        },
        {
            "id": "17",
            "nameCN": "欧洲",
            "nameEN": "Europe",
            "longitude": "19.112233",
            "latitude": "50.556677",
            "count": 19
        },
        {
            "id": "18",
            "nameCN": "非洲",
            "nameEN": "Europe",
            "longitude": "22.22",
            "latitude": "5.887766",
            "count": 24
        },
        {
            "id": "19",
            "nameCN": "大洋洲",
            "nameEN": "Europe",
            "longitude": "135.994139",
            "latitude": "-25.324659",
            "count": 6
        },
        {
            "id": "20",
            "nameCN": "北美洲",
            "nameEN": "Europe",
            "longitude": "-103.908307",
            "latitude": "42.647385",
            "count": 17
        },
        {
            "id": "21",
            "nameCN": "南美洲",
            "nameEN": "Europe",
            "longitude": "-58.283011",
            "latitude": "-12.758826",
            "count": 16
        },
    ];


    var mark = [];
    var point = {};
    var label = {};
    var marker = {};
    var markdong = {};
    var markjing = {};


    var loadMapDataList = function () {
        markjing = '';
        for (var i = 0; i < cityList.length; i++) {
            if (cityList[i].longitude == null || cityList[i].latitude == null) {
                continue;//如果经纬度没有，那么跳过本次循环
            }
            var point = new BMap.Point(cityList[i].longitude, cityList[i].latitude);
            mark[cityList[i].id] = new BMap.Marker(point);
            mark[cityList[i].id].mIndex = i;
            map.addOverlay(mark[cityList[i].id]);
        }
    };
    loadMapDataList();
    BMap.Marker.prototype.addEventListener("click", function () {
        mouseOverItem($('ul[data-ship="' + this.mIndex + '"]'));
    });


    var loadShipList = function () {
        var html = '';
        for (var i = 0; i < cityList.length; i++) {
            var tmp = $("#ul-tmp").clone();
            tmp.find(".infodetails").attr("data-ship", i);
            tmp.find(".index-p").text(i + 1);
            tmp.find(".short-name-span").text(cityList[i].nameCN);
            tmp.find(".address-li").text(cityList[i].nameEN);
            html += tmp.html();
        }
        $("#outer-ul").html(html);
    }
    loadShipList();


    var selectship = function (index) {
        var temp = cityList[0];
        cityList[0] = cityList[index];
        cityList[index] = temp;
        //插入排序  从小到大
        for (var i = 2; i < cityList.length; i++) {
            var j = i - 1;
            var key = cityList[i];
            while (j > 0 && cityList[j].id > key.id) {
                cityList[j + 1] = cityList[j];
                j--;
            }
            cityList[j + 1] = key;
        }
    };

    function mouseOverItem(obj) {
        var index = $(obj).attr("data-ship");
        var e = cityList[index];
        map.removeOverlay(markdong);
        map.addOverlay(markjing);
        map.removeOverlay(mark[e.id]);
        var point = new BMap.Point(e.longitude, e.latitude);
        if (!map.getBounds().containsPoint(point)) {
            map.centerAndZoom(point, map.getZoom());
        }
        var label = new BMap.Label(e.nameCN + ":" + e.count, {
            offset: new BMap.Size(10, -25)
        });
        label.setStyle({
            height: 0,
            color: "red",
            fontSize: "20px",
            lineHeight: 0,
            fontFamily: "宋体",
            borderRadius: "3px",
            borderColor: "white"
        });
        var marker = new BMap.Marker(point);
        map.addOverlay(marker);
        marker.setLabel(label);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE);
        markdong = marker;
        markjing = mark[e.id];
    }

</script>

</body>

</html>